@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #C3B1F8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #C3B1F8;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  padding: 1.5rem;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}